/********** Template CSS **********/
:root {
    --primary:  rgb(252, 166, 18) ;
    --secondary: #51CFED;
    --light: #F8F2F0;
    --dark: #060315;
}


body{
background-color: rgb(10,40,57);

}


h1, h2, h3, h4, h5, h6,p{

color: white !important;;
}

.text-primary{

    color: white !important;
}


.text-secondary{


    color: rgb(249, 91, 18) !important;
}

.bg-secondary{

     background-color: rgb(249, 91, 18) !important ;
}

.bg-primary{

    background-color: rgb(252, 166, 18) !important;
}

.border-primary{

    border-color: rgb(252, 166, 18) !important;
}

.fw-medium {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
    background-color:  rgb(249, 91, 5) ;
    border-color:   rgb(249, 91, 5);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 30px;
    padding: 25px 0;
    color:#f6f6f6;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 5px;
        top: -6px;
        left: 50%;
        background: #f5e1e1;
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6f6f6;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Service, Price & Team ***/
.service-item,
.price-item,
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item img,
.team-item img {
    transition: .5s;
}

.service-item:hover img,
.team-item:hover img {
    transform: scale(1.1);
}

.service-item a.btn-slide,
.price-item a.btn-slide,
.team-item div.btn-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 0;
}

.service-item a.btn-slide i,
.service-item a.btn-slide span,
.price-item a.btn-slide i,
.price-item a.btn-slide span,
.team-item div.btn-slide i,
.team-item div.btn-slide span {
    position: relative;
    height: 40px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 0 35px 35px 0;
    transition: .5s;
    z-index: 2;
}

.team-item div.btn-slide span a i {
    padding: 0 10px;
}

.team-item div.btn-slide span a:hover i {
    background: var(--secondary);
}

.service-item a.btn-slide span,
.price-item a.btn-slide span,
.team-item div.btn-slide span {
    padding-left: 0;
    left: -100%;
    z-index: 1;
}

.service-item:hover a.btn-slide i,
.price-item:hover a.btn-slide i,
.team-item:hover div.btn-slide i {
    border-radius: 0;
}

.service-item:hover a.btn-slide span,
.price-item:hover a.btn-slide span,
.team-item:hover div.btn-slide span {
    left: 0;
}

.service-item a.btn-slide:hover i,
.service-item a.btn-slide:hover span,
.price-item a.btn-slide:hover i,
.price-item a.btn-slide:hover span {
    background: var(--secondary);
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item {
    position: relative;
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    animation: pulse 1s ease-out .5s;
}

.testimonial-carousel .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: var(--primary);
    border: 5px solid var(--light);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--light);
    border-color: var(--primary);
}


/*** Contact ***/
@media (min-width: 992px) {
    .container.contact-page {
        max-width: 100% !important;
    }

    .contact-page .contact-form  {
        padding-left: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .contact-page .contact-form  {
        padding-left: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .contact-page .contact-form  {
        padding-left: calc(((100% - 1320px) / 2) + .75rem);
    }
}



@font-face {
    font-family: 'NEUROPOL';
    src: url('../Neuropol/Neuropol-Regular 400.ttf') format('truetype')
  }
  .navbar-brand h2{
    font-family: "NEUROPOL", sans-serif !important;
  }





/*** Footer ***/
.footer {
    background: linear-gradient(rgba(6, 3, 21, .5), rgba(6, 3, 21, .5)), url(../img/map.png) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

 /* Hide the heading on mobile devices */
 @media only screen and (max-width: 600px) {
    .hiding-inmobile {
      display: none;
    }
  }

  /* Fleet */

.slider {
  position: relative;
  padding: 30px 16px; /* SIDE MARGIN – like 2nd image */
}

/* viewport */
.slider-view {
  position: relative;
  overflow: hidden;
}

/* track */
.slider-track {
  display: flex;
  gap: 16px;
  transition: transform 0.4s ease;
}

/* item */
.slider-item {
  flex: 0 0 100%;
}

.slider-item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 18px;
  display: block;
}

/* ARROWS – IMAGE KE ANDAR, CENTER */
.slider-arrow {
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  font-size: 30px;
  background: rgba(0,0,0,0.35); /* visibility fix */
  color: #fff;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* IMPORTANT */
  cursor: pointer;
}

.slider-arrow.left {
  left: 22px;   /* image ke paas */
}

.slider-arrow.right {
  right: 22px;  /* image ke paas */
}

/* DESKTOP */
@media (min-width: 1024px) {
  .slider-item {
    flex: 0 0 calc(33.333% - 11px);
  }
}

.slider-title {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}
/* fleet end */


.support{
    margin-bottom: 40px !important;
}

.supp{
    margin-bottom: 40px !important;
}




.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

/* CENTER BLOCK, LEFT TEXT */
.hero-content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;   /* centers the block */
}

.hero-content h1 {
  color: #fff;
  font-size: 60px;
  max-width: 700px;          /* controls text width */
  text-align: left;          /* LEFT aligned text */
  line-height: 1.2;
}


@media (max-width: 768px) {
  .hero {
    height: 75vh;
  }

  .hero-content h1 {
    font-size: 28px;
    max-width: 90%;
  }
}


/* Hero container AWARDS */
.hero-awards {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* Banner image */
.hero-awards-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Dark overlay */
.hero-awards::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

/* Text content */
.hero-awards-content {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #fff;
  padding: 0 1.5rem;
}

.hero-awards-content h1 {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  margin-bottom: 1rem;
}

.hero-awards-content p {
  font-size: clamp(1rem, 2.2vw, 1.4rem);
  line-height: 1.6;
  max-width: 800px;
}

.awards-gallery {
  width: 100%;
  padding: 4rem 1.5rem;
}

.awards-gallery-grid {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

/* Individual items */
.award-item {
  overflow: hidden;
  border-radius: 14px;
  background: #000;
}

.award-item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

/* Hover effect (desktop) */
@media (hover: hover) {
  .award-item:hover img {
    transform: scale(1.08);
  }
}

/* Tablet */
@media (max-width: 900px) {
  .awards-gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 500px) {
  .awards-gallery-grid {
    grid-template-columns: 1fr;
  }
}




/* Mobile */
@media (max-width: 480px) {
  .hero-awards {
    height: 75vh;
  }
}

/* Hero Media container */
.hero-media {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

/* Banner image */
.hero-media-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Dark overlay */
.hero-media::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

/* Text content */
.hero-media-content {
  position: absolute;
  inset: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #fff;
  padding: 0 1.5rem;
}

.hero-media-content h1 {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  margin-bottom: 1rem;
}

.hero-media-content p {
  font-size: clamp(1rem, 2.2vw, 1.4rem);
  line-height: 1.6;
  max-width: 800px;
}

/* Mobile */
@media (max-width: 480px) {
  .hero-media {
    height: 75vh;
  }
}


/* media */

.media-videos {
  padding: 4rem 1.5rem;
}

.media-videos-grid {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.video-card {
  text-decoration: none;
  color: #000;
}

.video-thumb {
  position: relative;
  border: 1px solid #ddd;
}

.video-thumb img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

/* Play icon overlay */
.video-thumb::after {
  content: "";
  position: absolute;
  inset: 0;
  background:
    url("https://upload.wikimedia.org/wikipedia/commons/7/75/YouTube_social_white_squircle_%282017%29.svg")
    center / 60px no-repeat;
}

/* Text */
.video-card p {
  margin-top: 0.75rem;
  font-size: 0.95rem;
  line-height: 1.5;
}

/* Hover */
@media (hover: hover) {
  .video-card:hover .video-thumb {
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  }
}

/* Tablet */
@media (max-width: 900px) {
  .media-videos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 520px) {
  .media-videos-grid {
    grid-template-columns: 1fr;
  }
}



/* MEDIA ARTICLES */
.media-pdfs {
  padding: 4rem 1.5rem;
 
}


.media-pdfs-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
 margin-left: 3rem;
}

.media-pdfs-grid {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #e5e5e5;
}

.pdf-card {
  padding: 2rem;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.pdf-card:last-child {
  border-right: none;
}

.pdf-text {
  font-size: 0.95rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #000;
}

.pdf-btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background: #ff3b00;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}

/* Tablet */
@media (max-width: 900px) {
  .media-pdfs-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .pdf-card:nth-child(2n) {
    border-right: none;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .media-pdfs-grid {
    grid-template-columns: 1fr;
  }

  .pdf-card {
    border-right: none;
  }

.media-pdfs-title{

 font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  margin-left: 5rem !important;
}

}

        /* MEDIA EVENTS */

        .events-gallery {
  padding: 4rem 1.5rem;
  background: #0b2a3a; /* dark blue like your screenshot */
}

.events-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: #ffffff;
  margin-left: 3rem;
}

/* Grid */
.events-grid {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* Card */
.event-item {
  border-radius: 14px;
  overflow: hidden;
  background: #ffffff;
}

/* Image */
.event-item img {
  width: 100%;
  height: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

/* Hover */
@media (hover: hover) {
  .event-item:hover img {
    transform: scale(1.05);
  }
}

/* Tablet */
@media (max-width: 900px) {
  .events-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 500px) {
  .events-grid {
    grid-template-columns: 1fr;
  }

  .events-title{
    margin-left: 5rem;
  }

}
